{{t "Back"}}
{{{t "Subscribe"}}}
{{t "Page {page} of {pages}" page=currentPage}}
<button>{{t "Sign in"}}</button>
<span>{{plural count empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
